<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>hobbyWebProject</display-name>
  <welcome-file-list>
    <welcome-file>startPage.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.JPG</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.PNG</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.swf</url-pattern>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>startPage.jsp</servlet-name>
    <jsp-file>/startPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>startPage.jsp</servlet-name>
    <url-pattern>/startPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mainPage.jsp</servlet-name>
    <jsp-file>/mainPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainPage.jsp</servlet-name>
    <url-pattern>/mainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>join.jsp</servlet-name>
    <jsp-file>/join.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>join.jsp</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login.jsp</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.jsp</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginPopUp.jsp</servlet-name>
    <jsp-file>/loginPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginPopUp.jsp</servlet-name>
    <url-pattern>/loginPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userUpdate.jsp</servlet-name>
    <jsp-file>/userUpdate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdate.jsp</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>community.jsp</servlet-name>
    <jsp-file>/community.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>community.jsp</servlet-name>
    <url-pattern>/community</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchPage.jsp</servlet-name>
    <jsp-file>/searchPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPage.jsp</servlet-name>
    <url-pattern>/searchPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>write.jsp</servlet-name>
    <jsp-file>/write.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>write.jsp</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>view.jsp</servlet-name>
    <jsp-file>/view.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>view.jsp</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update.jsp</servlet-name>
    <jsp-file>/update.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>update.jsp</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupPage.jsp</servlet-name>
    <jsp-file>/groupPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupPage.jsp</servlet-name>
    <url-pattern>/groupPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupView.jsp</servlet-name>
    <jsp-file>/groupView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupView.jsp</servlet-name>
    <url-pattern>/groupView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupPopUp.jsp</servlet-name>
    <jsp-file>/groupPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupPopUp.jsp</servlet-name>
    <url-pattern>/groupPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberJoinPopUp.jsp</servlet-name>
    <jsp-file>/memberJoinPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberJoinPopUp.jsp</servlet-name>
    <url-pattern>/memberJoinPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewMsg.jsp</servlet-name>
    <jsp-file>/viewMsg.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMsg.jsp</servlet-name>
    <url-pattern>/viewMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewMsgListPopUp.jsp</servlet-name>
    <jsp-file>/viewMsgListPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMsgListPopUp.jsp</servlet-name>
    <url-pattern>/viewMsgListPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendMsgPopUp.jsp</servlet-name>
    <jsp-file>/sendMsgPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMsgPopUp.jsp</servlet-name>
    <url-pattern>/sendMsgPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventPopUp.jsp</servlet-name>
    <jsp-file>/eventPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventPopUp.jsp</servlet-name>
    <url-pattern>/eventPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventRafflePopUp.jsp</servlet-name>
    <jsp-file>/eventRafflePopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventRafflePopUp.jsp</servlet-name>
    <url-pattern>/eventRafflePopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventMsgPopUp.jsp</servlet-name>
    <jsp-file>/eventMsgPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventMsgPopUp.jsp</servlet-name>
    <url-pattern>/eventMsgPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventWinPopUp.jsp</servlet-name>
    <jsp-file>/eventWinPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventWinPopUp.jsp</servlet-name>
    <url-pattern>/eventWinPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventMsgExit.jsp</servlet-name>
    <jsp-file>/eventMsgExit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventMsgExit.jsp</servlet-name>
    <url-pattern>/eventMsgExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout.jsp</servlet-name>
    <jsp-file>/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout.jsp</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findPwPopUp.jsp</servlet-name>
    <jsp-file>/findPwPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>findPwPopUp.jsp</servlet-name>
    <url-pattern>/findPwPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noticeAction.jsp</servlet-name>
    <jsp-file>/noticeAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeAction.jsp</servlet-name>
    <url-pattern>/noticeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shop.jsp</servlet-name>
    <jsp-file>/shop.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>shop.jsp</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadAction</servlet-name>
    <servlet-class>file.downloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadAction</servlet-name>
    <url-pattern>/downloadAction/</url-pattern>
  </servlet-mapping>
  
</web-app>