<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>hobbyWebProject</display-name>
    <resource-ref>
    <description>My MariaDB Resource</description>
	<res-ref-name>jdbc/cksndbs7</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>startPage.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.JPG</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.PNG</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.swf</url-pattern>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
	
  <servlet>
    <servlet-name>startPage.jsp</servlet-name>
    <jsp-file>/startPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>startPage.jsp</servlet-name>
    <url-pattern>/startPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mainPage.jsp</servlet-name>
    <jsp-file>/mainPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainPage.jsp</servlet-name>
    <url-pattern>/mainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>join.jsp</servlet-name>
    <jsp-file>/join.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>join.jsp</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login.jsp</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.jsp</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginPopUp.jsp</servlet-name>
    <jsp-file>/loginPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginPopUp.jsp</servlet-name>
    <url-pattern>/loginPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userUpdate.jsp</servlet-name>
    <jsp-file>/userUpdate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdate.jsp</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>community.jsp</servlet-name>
    <jsp-file>/community.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>community.jsp</servlet-name>
    <url-pattern>/community</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchPage.jsp</servlet-name>
    <jsp-file>/searchPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPage.jsp</servlet-name>
    <url-pattern>/searchPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>write.jsp</servlet-name>
    <jsp-file>/write.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>write.jsp</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>view.jsp</servlet-name>
    <jsp-file>/view.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>view.jsp</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update.jsp</servlet-name>
    <jsp-file>/update.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>update.jsp</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupPage.jsp</servlet-name>
    <jsp-file>/groupPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupPage.jsp</servlet-name>
    <url-pattern>/groupPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupView.jsp</servlet-name>
    <jsp-file>/groupView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupView.jsp</servlet-name>
    <url-pattern>/groupView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupPopUp.jsp</servlet-name>
    <jsp-file>/groupPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupPopUp.jsp</servlet-name>
    <url-pattern>/groupPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberJoinPopUp.jsp</servlet-name>
    <jsp-file>/memberJoinPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberJoinPopUp.jsp</servlet-name>
    <url-pattern>/memberJoinPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewMsg.jsp</servlet-name>
    <jsp-file>/viewMsg.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMsg.jsp</servlet-name>
    <url-pattern>/viewMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewMsgListPopUp.jsp</servlet-name>
    <jsp-file>/viewMsgListPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMsgListPopUp.jsp</servlet-name>
    <url-pattern>/viewMsgListPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendMsgPopUp.jsp</servlet-name>
    <jsp-file>/sendMsgPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMsgPopUp.jsp</servlet-name>
    <url-pattern>/sendMsgPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventPopUp.jsp</servlet-name>
    <jsp-file>/eventPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventPopUp.jsp</servlet-name>
    <url-pattern>/eventPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventRafflePopUp.jsp</servlet-name>
    <jsp-file>/eventRafflePopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventRafflePopUp.jsp</servlet-name>
    <url-pattern>/eventRafflePopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventMsgPopUp.jsp</servlet-name>
    <jsp-file>/eventMsgPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventMsgPopUp.jsp</servlet-name>
    <url-pattern>/eventMsgPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventWinPopUp.jsp</servlet-name>
    <jsp-file>/eventWinPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventWinPopUp.jsp</servlet-name>
    <url-pattern>/eventWinPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eventMsgExit.jsp</servlet-name>
    <jsp-file>/eventMsgExit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventMsgExit.jsp</servlet-name>
    <url-pattern>/eventMsgExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout.jsp</servlet-name>
    <jsp-file>/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout.jsp</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findPwPopUp.jsp</servlet-name>
    <jsp-file>/findPwPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>findPwPopUp.jsp</servlet-name>
    <url-pattern>/findPwPopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noticeAction.jsp</servlet-name>
    <jsp-file>/noticeAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeAction.jsp</servlet-name>
    <url-pattern>/noticeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spot.jsp</servlet-name>
    <jsp-file>/spot.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>spot.jsp</servlet-name>
    <url-pattern>/spot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spotAccess.jsp</servlet-name>
    <jsp-file>/spotAccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>spotAccess.jsp</servlet-name>
    <url-pattern>/spotAccess</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>eventApplyAction.jsp</servlet-name>
    <jsp-file>/eventApplyAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventApplyAction.jsp</servlet-name>
    <url-pattern>/eventApplyAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>emailRaffleAction.jsp</servlet-name>
    <jsp-file>/emailRaffleAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailRaffleAction.jsp</servlet-name>
    <url-pattern>/emailRaffleAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>findPwAction.jsp</servlet-name>
    <jsp-file>/findPwAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>findPwAction.jsp</servlet-name>
    <url-pattern>/findPwAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>groupCreateAction.jsp</servlet-name>
    <jsp-file>/groupCreateAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupCreateAction.jsp</servlet-name>
    <url-pattern>/groupCreateAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>groupDeleteAction.jsp</servlet-name>
    <jsp-file>/groupDeleteAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupDeleteAction.jsp</servlet-name>
    <url-pattern>/groupDeleteAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>joinAction</servlet-name>
    <jsp-file>/joinAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinAction</servlet-name>
    <url-pattern>/joinAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginAction.jsp</servlet-name>
    <jsp-file>/loginAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAction.jsp</servlet-name>
    <url-pattern>/loginAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>memberDeleteAction.jsp</servlet-name>
    <jsp-file>/memberDeleteAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberDeleteAction.jsp</servlet-name>
    <url-pattern>/memberDeleteAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>memberJoinAction.jsp</servlet-name>
    <jsp-file>/memberJoinAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberJoinAction.jsp</servlet-name>
    <url-pattern>/memberJoinAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>scheduleCheckAction.jsp</servlet-name>
    <jsp-file>/scheduleCheckAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleCheckAction.jsp</servlet-name>
    <url-pattern>/scheduleCheckAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>scheduleRegistAction.jsp</servlet-name>
    <jsp-file>/scheduleRegistAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleRegistAction.jsp</servlet-name>
    <url-pattern>/scheduleRegistAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sendEventMsgAction.jsp</servlet-name>
    <jsp-file>/sendEventMsgAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEventMsgAction.jsp</servlet-name>
    <url-pattern>/sendEventMsgAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendMsgAction.jsp</servlet-name>
    <jsp-file>/sendMsgAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMsgAction.jsp</servlet-name>
    <url-pattern>/sendMsgAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spotJoinAction.jsp</servlet-name>
    <jsp-file>/spotJoinAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>spotJoinAction.jsp</servlet-name>
    <url-pattern>/spotJoinAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>spotRegistAction.jsp</servlet-name>
    <jsp-file>/spotRegistAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>spotRegistAction.jsp</servlet-name>
    <url-pattern>/spotRegistAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>updateAction.jsp</servlet-name>
    <jsp-file>/updateAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAction.jsp</servlet-name>
    <url-pattern>/updateAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>userUpdateAction.jsp</servlet-name>
    <jsp-file>/userUpdateAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdateAction.jsp</servlet-name>
    <url-pattern>/userUpdateAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>writeAction.jsp</servlet-name>
    <jsp-file>/writeAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeAction.jsp</servlet-name>
    <url-pattern>/writeAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>emailSendAction.jsp</servlet-name>
    <jsp-file>/emailSendAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailSendAction.jsp</servlet-name>
    <url-pattern>/emailSendAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>emailCheckAction.jsp</servlet-name>
    <jsp-file>/emailCheckAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailCheckAction.jsp</servlet-name>
    <url-pattern>/emailCheckAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emailAdUpdatePopUp.jsp</servlet-name>
    <jsp-file>/emailAdUpdatePopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailAdUpdatePopUp.jsp</servlet-name>
    <url-pattern>/emailAdUpdatePopUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emailAdUpdateAction.jsp</servlet-name>
    <jsp-file>/emailAdUpdateAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailAdUpdateAction.jsp</servlet-name>
    <url-pattern>/emailAdUpdateAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>chatSendAction.jsp</servlet-name>
    <jsp-file>/chatSendAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chatSendAction.jsp</servlet-name>
    <url-pattern>/chatSendAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getLatestChatMessage.jsp</servlet-name>
    <jsp-file>/getLatestChatMessage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLatestChatMessage.jsp</servlet-name>
    <url-pattern>/getLatestChatMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getNewChatMessage.jsp</servlet-name>
    <jsp-file>/getNewChatMessage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>getNewChatMessage.jsp</servlet-name>
    <url-pattern>/getNewChatMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scheduleRegistPopUp.jsp</servlet-name>
    <jsp-file>/scheduleRegistPopUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleRegistPopUp.jsp</servlet-name>
    <url-pattern>/scheduleRegistPopUp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>downloadAction</servlet-name>
    <servlet-class>file.downloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadAction</servlet-name>
    <url-pattern>/downloadAction/</url-pattern>
  </servlet-mapping>
</web-app>