@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@400&family=Jua&&family=Merriweather:wght@700&family=Nanum+Gothic:wght@700&family=Nanum+Gothic+Coding:wght@400&family=Noto+Sans+KR:wght@300,400,500&family=Noto+Serif+KR:wght@200&display=swap');
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
:root {
	--text-color: #303030;
	--background-color: #fcfcfc;
	--accent-color: #303030;
  --line-color: #c1c1c1;
  --font-family:'NanumSquare';
  --colorOne: white;
  --colorTwo: #A4C3FF;
  --color-mousea: #1d1d1d;
  --color-mouseb: #fff;
}

/* cursor css */

/* 커서 스타일 정의 */
.cursor {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-mousea);
  background-color: var(--color-mousea);
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}
/* 버튼 스타일 */
.btn-blue{
	position: relative;
	display: inline-block;
	width: 90px;
	height: 70px;
	background-color: transparent;
	border: none; 
	cursor: pointer;
	margin: 10px;
	float: right;
}

.btn-blue span {         
  position: relative;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  transition: 0.5s; 
  color: #ffffff;
  background-color: #7D95E5;
  border: 1px solid #7D95E5;
  font-family: 'Nanum Gothic Coding', monospace;
}
.btn-blue #search, #write{
font-family: 'Nanum Gothic Coding', monospace;
}
.btn-blue::before {
  background-color: #7D95E5;
}

.btn-blue span:hover {
  color: #7D95E5;
  background-color: #ffffff;
}


/* header css */
body{
	padding: 0;
	margin: 0px;
  z-index: 1;
  font-family: var(--font-family);
  cursor: none;
}
header{
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 300;	
	
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 30px;
	padding-left: 30px;
}
a{	
	text-decoration: none;
	color: var(--text-color);
	font-family: var(--font-family);	
}

section{
	color: var(--text-color);
	padding: 0;
	z-index: 1;
}
.active{
	background-color: white;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	
	-webkit-transition-duration:0.4s;
	-webkit-transition-timing-function:ease;
}
.navbar{
	height: auto;
}
.de-active{
	background-color: none;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	
	-webkit-transition-duration:0.4s;
	-webkit-transition-timing-function:ease;
}
.navbar_left{
	justify-content: flex-start;
	padding-left: 0;
	size: 20px;

}
.navbar_logo{
	font-size: 20px;
	color: var(--text-color);
	padding-right: 10px;
	
}

.navbar_menu{
	display: flex;
	list-style: none;
	padding-left: 0;
  float: left;
  background: none;
  color: var(--text-color);

}
.navbar_menu li{
	padding: 5px 20px;
	cursor: pointer;
}

.menu{
	font-size: 15px;
}
.navbar_login{
	list-style: none;
	display: flex;
	float: right;
	size: 15px;
  padding-left: 0;
  background: none;
}
.navbar_login li{
	padding: 0px 10px;
	color: var(--accent-color);
}

.navbar_toggleBtn{
	display: none;
	width: 20px;
	position: absolute;
	right: 32px;
	padding-bottom: 5px;
	font-size: 20px;
	color: #000000;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.container{
	z-index: 1;
}
.nav-up {
    top: -70px; 
}
@media screen and (max-width: 760px) {
	.navbar{
		flex-direction: column;
    padding: 15px;
    background-color: white;
	}
	.navbar_left{
		flex-direction: column;
		padding-left: 30px;
	}
	.navbar_menu{
		display: none;
		flex-direction: column;
		align-items: center;
    width: 100%;
	}
	.navbar_menu li{
		width: 100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar_login{
		display: none;
		justify-content: center;
		width: 100%;
	}
	.navbar_toggleBtn{
		display: block;
	}
	.navbar_menu.active,
	.navbar_login.active {
		display: flex;
	}
	section{
		justify-content: center;
	}
}
/* header css end */

/* section css */

body {
  margin:0;
  color:var(--colorOne);
}
.main{
	height: 700px;
	padding-top: 80px;
	background-image:linear-gradient(180deg, var(--colorTwo) 0%, var(--colorOne) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.main-text{
	width: 100%;
	height: 600px;
	display: flex;
	animation: compare 2s infinite alternate;
	
}
#m1{
	font-size: 40pt;
	font-weight: 600;
	position: absolute;
	bottom: 60%;
	left: 10%;
	animation:bounce 1s ease-in-out Infinite Alternate;
}
#m2{
	font-size: 25pt;
	font-weight: bold;
	position: absolute;
	bottom: 35%;
	left: 45%;
	color: white;
	background-color: #3c3c3c;
	border-radius: 50px;
	padding: 17px 25px;
	cursor: pointer;
}
#line{
	width: 530px; 
	height: 2px; 
	background-color: black;
}
.move_btns{
	width: 30px;
	height: 50px;
	position: fixed;
	right: 3%; 
	bottom: 50%; 
	z-index: 100;
}
.moveTop , .moveBottom {
	cursor: pointer;
	padding-top: 10px;
}
.container{
	margin-top: 100px;
}
@media screen and (max-width:1200px) {
  #m1{
    font-size: 33pt;
    position: absolute;
  	bottom: 60%;
  }
  #m2{
    font-size: 17pt;
    position: absolute;
    bottom: 20%;
    left: 25%;
  }
  #line{
  	width: 450px;
  }
 }
 @media screen and (max-width:700px) {
  #m1{
  	font-size: 30pt;
  }
  #m2{
    font-size: 15pt;
    position: absolute;
    bottom: 20%;
    left: 30%;
  }
  .move_btns{
  	bottom: 10%;
  }
  #line{
  	width: 400px;
  }
 }
@keyframes bounce {
  0% {
    top:200px;
  }
  100% {
    top: 250px;
  }
}
.container-slide{
  width: 100%;
  height: 800px;
  font-weight: 800;
}
#slide-main {
  width: 100%;
  height: 800px;
  min-height: 750px;
  background-image:linear-gradient(180deg, var(--colorOne) 0%, var(--colorTwo) 70%);
  position: relative;
  overflow: hidden;
  display: flex;
} 

#slide-in {
  min-height: 500px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  display: flex;
  align-items: center;
  position: relative;
}



#slide-in:before {
  height: 90%;
  width: 50%;
  background:var(--colorOne);
  box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  content:'';
  transform-origin:left;
  transform:rotateY(10deg);
/*   animation:before 5s linear infinite; */
}
@keyframes before {
  50% { transform:rotateY(10deg) translateY(-25px); }
}

#slide-in:after {
  content:'';
  width: 75%;
  height: 85%;
  border-radius: 30px;
  background:var(--colorTwo);
  box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin:right;
  transform: translateY(-50%) rotateY(-10deg);
}

#content {
  width:90%;
  height:100%;
  min-height: 450px;
  margin:0 auto;
  position:relative;
  z-index:9;
  display:flex;
}

.slide {
  display:none;
  align-items:center;
}

.showing {
  display:flex;
  align-content:stretch;
}

.showing img {
  animation:imgMove .75s ease-out forwards;
}
@keyframes imgMove {
  0% { margin-left:-25%; opacity:0; }
}

.showing .details {
  animation:deetsMove .75s ease-out forwards;
  transform-origin:right;
  transform:rotateY(-10deg);
}
@keyframes deetsMove {
  0% { margin-left:25%; opacity:0; }
}

.slide img {
  width: 400px;
  height: 400px;
  max-width:60%;
}
.slide h1 {
  font-size:52px;
  line-height:100%;
  letter-spacing:2px;
  margin:0;
}

.slide .info-item {
  display:inline-block;
  padding:20px 30px;
  letter-spacing:2px;
  font-size:20px;
  border-right:1px dotted var(--colorOne);  
}
.slide .info-item:nth-child(2) {
  border:none;
}

.slide h2 {
  margin:0;
  font-size:50px;
  font-weight:600;
  line-height:100%;
  letter-spacing:2px;
}

.slide .btn {
  background-color: var(--colorOne);
  border: none;
  color: var(--colorTwo);
  border-radius: 50px;
  margin-top: 20px;
  padding: 7px;
  width: 250px;
  letter-spacing: 2px;
  text-align:center;
}

.btn button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: var(--colorOne);
  color:inherit;
  width:100%;
  border:none;
  font-weight: 500;
  font-size: 38px;
  display:inline-block;
  border-radius: 50px;
  cursor: pointer;
  padding: 5px;
}

a{
  text-decoration:none;
  color:inherit;
  width:100%;
  line-height:50px;
  display:inline-block;
}

.arrowBtn {
  width:60px;
  height:60px;
  font-size:40px;
  font-weight:900;
  line-height:65px;
  text-align:center;
  background:var(--colorOne);
  color:var(--colorTwo);
  border:1px solid var(--ColorTwo);
  position:absolute;
  border-radius:50%;
  cursor:pointer;
  box-shadow:0 0 0 1px var(--colorTwo);
  transition:.15s;
  z-index:99;
}

.arrowBtn:nth-child(2) {
  transform:translateX(-50%);
}
.arrowBtn:nth-child(3) {
  right:0;
  transform:translateX(50%);
}

@media screen and (max-width:1110px) {
  #slide-in:before{
    height: 50%;
    top: 10%;
    transform:none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }
  #slide-in:after {
    height:50%;
    top:5%;
    transform:none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }
   
  .showing {
    flex-direction:column;
    margin:0 auto;
  }
  
  .slide img {
    display:block;
    width:90%;
    margin:0 auto;
  }
  .slide .details {
    display:block;
    margin: 0 auto;
    text-align:center;
    font-size: 40pt;
  }
  .slide .btn {
    margin:25px auto;
  }
  .arrowBtn:nth-child(2) {
    top:25%;
    transform:translateX(0%) scale(.75);
  }
  .arrowBtn:nth-child(3) {
    right:0;
    top:25%;
    transform:translateX(0%) scale(.75);
  }
  @keyframes imgMove {
    0% { margin-left:0; margin-top:-10%; opacity:0; }
  }

  @keyframes deetsMove {
    0% { margin:0 auto; opacity:0; }
  }
  
}

@media screen and (max-width:520px) {
  .info-item {
    border-bottom:1px dotted var(--colorOne);
    border-right:0 !important;
  }
  .arrowBtn {
    top:15% !important;
  }
  #slide-in:before {
    display:none;
  }
  #slide-in:after {
    display:none;
  }
}
.container-banner{
  width: 100%;
  height: 350px;
  margin-top: 50px;
}
#animatedBackground {
        width: 100%;
        height: 350px;
        display: flex; 
        align-items:center;
        justify-content:center;
        background: url("../image/sportsBanner.jpg");
        background-repeat: repeat;
        background-size: auto 350px;
        animation: animatedBackground 300s linear infinite;
    }

    

    @keyframes animatedBackground {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -10000px 0;
      }
    }

/* section css end*/

/* footer css */
footer {
	width: 100%;
	height: 150px;
	padding-top: 50px;
  background-color: #ffffff;
}
.inform{
  width: 100%;
  display: flex;
}

.inform ul{
  margin: 0 auto;
  padding-top: 20px;
  font-size: 10pt;
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  text-decoration-style: none;
}
.inform li{
  padding-bottom: 5px;

}