
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@400&family=Jua&&family=Merriweather:wght@700&family=Nanum+Gothic:wght@700&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR:wght@200&display=swap');

*{
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
section{
	padding-top: 150px;
	padding-bottom: 100px;
	width: 100%;
	height: 650px;
	display: flex;
	justify-content: center;
	font-family: 'NanumSquare';
}
/* login.jsp */
.login-wrapper{
    width: 400px;
    height: 380px;
    padding: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    border-color: #b4b4b4;
    border-width: 2px;
    display: flex;
}
.login-wrapper > div{
	margin: 0 auto;
}
.login-wrapper > div > h2{
    font-size: 24px;
    color: #86A5FF;
    margin-bottom: 20px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #86A5FF;
	margin-top: 20px;
	cursor: pointer;
}
#login-form > input[type="checkbox"]{
    display: none;
}
#check{
	text-align: center; 
	height: 20px;
}

/* join.jsp */
.join-wrapper{
    width: 400px;
    height: 670px;
    padding: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    border-color: #b4b4b4;
    border-width: 2px;
    display: flex;
}
.join-wrapper > div{
	margin: 0 auto;
}

.join-wrapper > div > h2{
    font-size: 24px;
    color: #86A5FF;
    margin-bottom: 20px;
}
#join-form > input{
    width: 100%;
    height: 45px;
    padding: 0 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#join-form > input::placeholder{
    color: #D2D2D2;
}
#join-form > input[type="submit"]{
	height: 45px;
    color: #fff;
    font-size: 16px;
    background-color: #86A5FF;
    margin-top: 20px;
}
@media screen (min-width: 760px) {
	.join-wrapper{
		width: 350px;
		height: 600px;
	}
}

/* userUpdate.jsp */
#userInfo{
    width: 450px;
    height: 670px;
    padding: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    border-color: #b4b4b4;
    border-width: 2px;
    display: flex;
}
#userInfo > div > h2{
    font-size: 24px;
    color: #86A5FF;
    margin-bottom: 20px;
}

#user-update > input{
    width: 100%;
    height: 45px;
    padding: 0 8px;
    box-sizing: border-box;
    margin-bottom: 13px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#user-update > input::placeholder{
    color: #D2D2D2;
}
#user-update > input[type="submit"]{
	height: 45px;
    color: #fff;
    font-size: 16px;
    background-color: #86A5FF;
    margin-top: 20px;
    cursor: pointer;
    
}
#user-update > input[type="checkbox"]{
    display: none;
}

#checkMessage{
	color: black;
	font-size: 13px; 
	padding: 0; 
	margin: 0;
}

#user-delete{
	background: none;
	float: right;
	cursor: pointer;
	color: #86A5FF;
}
#user-delete:hover{
	font-weight: bold;
}
/* 데이터 관리하기 */ 
#userSet{
    width: 550px;
    height: 800px;
    padding: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    border-color: #b4b4b4;
    border-width: 2px;
    position: relative;
}
#userSet > div{
	margin: 0 auto;
}

#userSet > div > h2{
    font-size: 24px;
    color: #86A5FF;
    margin-bottom: 20px;
}

/* 메시지 관리하기 */ 
#userMsg{
    width: 550px;
    height: 800px;
    padding: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    border-color: #b4b4b4;
    border-width: 2px;
    position: relative;
}
#userMsg > div{
	margin: 0 auto;
}
#userMsg > div > div{
	margin: 0 auto;
}
#userMsg > div > div > h2{
    font-size: 24px;
    color: #86A5FF;
    margin-bottom: 20px;
}
